<h1>Devices</h1>
<table class="table">
<thead>
	<tr>
		<th>Device</th>
		<th>Type</th>
		<th>Platform</th>
		<th>OS</th>
		<th>Status</th>
	</tr>
</thead>
<tbody>
<% devices.forEach(function(device){ %>
	<tr>
	  <td><%=: device.name | capitalize %></td>
	  <td><%=: device.deviceType | capitalize %></td>
	  <td><%=: device.platform %></td>
	  <td><%= device.osVersion %></td>
	  <td <% if (device.isAvailable()) { %> class="green" <% } %>><i class="fa fa-mobile"></i> <%=: device.status | capitalize %></td>
	</tr>
	<% }); %>
</tbody>
</table>