<h3>Devices</h3>
<div class="row">
<span class="pull-right"><a href="/devices/new"><i class="fa fa-plus-square-o"></i> New Device</a></span>
</div>
<div class="table-responsive">
<table class="table table-condensed">
<thead>
	<tr>
		<th>Device</th>
		<th>Type</th>
		<th>Platform</th>
		<th>OS</th>
		<th>Status</th>
	</tr>
</thead>
<tbody>
<% devices.forEach(function(device){ %>
	<tr>
	  <td><i class="fa fa-mobile fa-fw"></i> <%=: device.name | capitalize %></td>
	  <td><%=: device.deviceType | capitalize %></td>
	  <td><%=: device.platform %></td>
	  <td><%= device.osVersion %></td>
	  <%- displayDeviceStatus(device) %> <%=: device.status | capitalize %></td>
	  </tr>
	<% }); %>
</tbody>
</table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
<% var port  = (process.env.OPENSHIFT_NODEJS_PORT)? '8000': '3000' %>
var socket = io.connect('http://'+ window.location.host + ':' + <%= port %>);
socket.on('connect', function(){
  socket.on('device_status', function(data){
  	var icon="";
  	var td = $('#device_'+data.id);
  	if(data.status ==="Available" ){
		$(td).addClass('green');
		$(td).removeClass('yellow');
		icon='<i class="fa fa-circle"></i>';
	}else if(data.status === "Running"){
		$(td).removeClass('green');
		$(td).addClass('yellow');
		icon='<i class="fa fa-circle"></i>';
	}else{
		$(td).removeClass('green');
		$(td).removeClass('yellow');
		icon='<i class="fa fa-circle-o"></i>';
	}
    td.html(icon +" "+ data.status);
  });
  socket.on('disconnect', function(){});
});
</script>