<h3>Devices</h3>
<div class="row">
<span class="pull-right"><a href="/devices/new"><i class="fa fa-plus-square-o"></i> New Device</a></span>
</div>
<div class="table-responsive">
<table class="table table-condensed">
<thead>
	<tr>
		<th>Device</th>
		<th>Type</th>
		<th>Platform</th>
		<th>OS</th>
		<th>Status</th>
	</tr>
</thead>
<tbody>
<% devices.forEach(function(device){ %>
	<tr>
	  <td><%=: device.name | capitalize %></td>
	  <td><%=: device.deviceType | capitalize %></td>
	  <td><%=: device.platform %></td>
	  <td><%= device.osVersion %></td>
	  <td id="device_<%= device.id %>" <% if (device.isAvailable()) { %> class="green" <% } %>><i class="fa fa-mobile"></i> <%=: device.status | capitalize %></td>
	</tr>
	<% }); %>
</tbody>
</table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io.connect('http://localhost:3000');
socket.on('connect', function(){
  socket.on('device_status', function(data){
  	var td = $('#device_'+data.id).html("<i class='fa fa-mobile'></i> "+ data.status);
	if(data.status ==="Available"){
		$(td).addClass('green');
	}else{
		$(td).removeClass('green');
	}
  });
  socket.on('disconnect', function(){});
});
</script>