<h3>Execution Results</h3>
<div class="row">
<span class="pull-right"><a href="/runs/new"><i class="fa fa-plus-square-o"></i> New Run</a></span>
</div>
<div class="table-responsive">
<table class="table table-hover">
<thead>
	<tr>
		<th></th>
		<th>Name</th>
		<th>Type</th>
		<th>Status</th>
		<th>Devices Count</th>
		<th>Time</th>
	</tr>
</thead>
<tbody>
<% runs.forEach(function(run){ %>
<% var runStatus = run.dynamicStatus() %>
	<tr>
	  <td><i class="fa fa-list"></i></td>
	  <td><a href='/runs/<%= run.id %>'><%=: run.name | capitalize %></a></td>
	  <td><%=: run.runTypeText() %></td>
	  <td><span class="label <%= generateStatusClass(runStatus) %>"><%= runStatus %></span></td>
	  <td><span class="badge"><%=: run.runitems.length %></span></td>
	  <td><%=: formatDate(run.createdAt) %></td>
	</tr>
	<% }); %>
</tbody>
</table>
</div>
