<h3>Execution Results</h3>
<div class="row">
<span class="pull-right"><a href="/runs/new"><i class="fa fa-plus-square-o"></i> New Run</a></span>
</div>
<div class="table-responsive">
<table class="table table-condensed">
<thead>
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Status</th>
		<th>Devices Count</th>
		<th>Time</th>
	</tr>
</thead>
<tbody>
<% runs.forEach(function(run){ %>
	<tr>
	  <td><a href='/runs/<%= run.id %>'><%=: run.name | capitalize %></a></td>
	  <td><%=: run.runType %></td>
	  <td><%=: run.status %></td>
	  <td><%=: run.runitems.length %></td>
	  <td><%=: run.createdAt %></td>
	</tr>
	<% }); %>
</tbody>
</table>
</div>
