<h3>Run</h3>
<hr/>
<div class="row">
	<div class="col-md-3">
		<span>Run Name</span>
	</div>
	<div class="col-md-4">
		: <span><strong><%= run.name %></strong></span>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<span>Run Type</span>
	</div>
	<div class="col-md-4">
		: <strong><%= run.runTypeText() %></strong>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<span>Comments</span>
	</div>
	<div class="col-md-4">
		: <strong><%= run.comments %></strong>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<span>Date</span>
	</div>
	<div class="col-md-4">
		: <strong><%= formatDate(run.createdAt) %></strong>
	</div>
</div>
<br/>
<div class="row">
<div class="col-md-12">
	<h4>Devices</h4>
	<hr/>
	<table class="table" id="accordion">
		<thead>
			<tr>
				<th>Device Name</th>
				<th>Status</th>
				<th>Scenario Count</th>
				<th>Comments</th>
			</tr>
		</thead>
		<tbody>
		
		<% runItems.forEach(function(item){ %>
			<tr>
				<td><a data-toggle="collapse" data-parent="#accordion" href="#item_<%= item.id %>"><%= item.device.name %></a></td>
				<td><span class="label <%= generateStatusClass(item.status) %>"><%= item.status %></span></td>
				<td><span class="badge"><%= item.scenarios.length %></span></td>
				<td><%= JSON.stringify(item.getScenarioStatus()) %></td>
			</tr>
			<tr id="item_<%= item.id %>" class="panel-collapse collapse">
				<td colspan="4">
					<% var g = groupScenarios(item.scenarios) %>
					<% for (var i in g) {  %>
						<div class="panel panel-default">
						  <div class="panel-heading"><%= i %></div>
						  <div class="panel-body">
							<ul class="list-group">
							<% g[i].forEach(function(row){ %>
								<li class="list-group-item">
								<span class="pull-right label <%= generateStatusClass(row.status) %>"><%= row.status %></span>
								<%= row.name %>
								</li>
							<% }) %>
							</ul>
						 </div>
						</div>
					<% } %>
				</td>
			</tr>
		<% }) %>
		</tbody>
	</table>
</div>
</div>