<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
<% var runStatus = "" %>
<% if(lastrun){runStatus = lastrun.dynamicStatus(); } %>
<div class="row gap">
	<div class="col-lg-4">
        <div class="panel <% if(runStatus==="Running"){ %> panel-warning <% }else{%> panel-success <%}%>">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
              	  <% if(runStatus==="Running"){ %> 
					<i class="fa fa-spinner fa-spin fa-5x"></i>
				 <% }else if(runStatus==="Failed"){ %> 
				 	<i class="fa fa-ban fa-5x"></i>
	 			 <% }else{ %>
               		 <i class="fa fa-check-circle-o fa-fw fa-5x"></i>
                <% } %>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading"><span class="label <%= generateStatusClass(runStatus) %>"> <%= runStatus %></span></p>
                <p class="announcement-text">Last Run <% if(lastrun){ %> - <%= formatDate(lastrun.createdAt) %> <%}%></p>
              </div>
            </div>
          </div>
          <a href="<% if(lastrun){%>/runs/<%=lastrun.id %><%}%>">
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-6">
                  View Run
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
	  </div>
	<div class="col-lg-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-tasks fa-fw fa-5x"></i>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading"><%= runcount %></p>
                <p class="announcement-text">Execution(s)</p>
              </div>
            </div>
          </div>
          <a href="/runs">
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-6">
                  View Execution
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
	  </div>
	  <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-mobile fa-fw fa-5x"></i>
              </div>
              <div class="col-xs-6 text-right">
                <p class="announcement-heading" id="deviceCount"><%= deviceCount %></p>
                <p class="announcement-text">Devices</p>
              </div>
            </div>
          </div>
          <a href="/devices">
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-6">
                  View Devices
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
	  </div>
</div>
<div class="row clear">
<div class="col-md-12">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Execution Result</h3>
	  </div>
	  <div class="panel-body">
	  <% if(lastrun) {%>
	  <% if(lastrun.dynamicStatus()==="Running"){ %> 
			<div class="alert alert-warning">Tests are currently running</div>
	  <% }else{ %>
		  <ul class="stats-list">
		  	<li>
		  		<i class="fa fa-mobile fa-fw"></i>
		  		<small>Executed in </small>
		  		<strong><%= lastrun.runitems.length %></strong>
		  		<small> Device(s)</small>
		  	</li>
		  	<% var deviceSenarioStatus = lastrun.scenariosStatusCount() %>
		  	<% deviceSenarioStatus.forEach(function(d){ %>
				<li>
			  		<strong><%= d.device %> </strong> - <span class="label <%= generateStatusClass(d.deviceSatus) %>"> <%= d.deviceSatus %></span>
			  		<small>Status Count:- <% for (s in  d.status){ %> <span class="label <%= generateStatusClass(s) %>">&nbsp; <%= s %> : <%= d.status[s] %>&nbsp; </span><%} %></small>
		  		</li>
		  	<% }) %>
		  </ul>
	  <% } %>
	  <% } %>
	  </div>
	 </div>
	 </div>
</div>
<div class="row">
	<div class="col-md-6">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Last 5 runs</h3>
	  </div>
	  <div class="panel-body">
		<div id="chartContainer">
		  <script type="text/javascript">
		   Morris.Bar({
		  	element: 'chartContainer',
			  data: <%- JSON.stringify(runs) %>,
			  xkey: 'name',
			  hideHover: 'true',
			  ykeys: <%- JSON.stringify(devices) %>,
			  labels: <%- JSON.stringify(devices) %>,
			  hoverCallback: function(index, options, content){
		        row = options.data[index];
		        return "Run: " + row.id + "<br/><a href='/runs/" + row.id + "'>Detail</a>";
		       }
			});
		  </script>
		</div>
		</div>
		</div>
	</div>
	<div class="col-md-6">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Execution Status</h3>
	  </div>
	   <div class="panel-body">
		<div id="chartContainer1">
			 <% if(runStatus==="Running"){ %> 
			 	<i class="fa fa-spinner fa-spin fa-5x"></i>
			 <% }else { %>
				 <script type="text/javascript">
					   Morris.Donut({
					  	element: 'chartContainer1',
						  data: <%- JSON.stringify(status) %>,
						});
				  </script>
			 <% }%>
		</div>
	   </div>
	  </div>
	</div>
</div>
<% if(runStatus==="Running"){ %> 
	<script type="text/javascript">
	  setTimeout(function(){
	    location = ''
	  },15 * 1000)
	</script>
<% } %>

<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io.connect('http://localhost:3000');
socket.on('connect', function(){
  socket.on('device_status', function(data){
  	var count = parseInt($("#deviceCount").text())
  	if(data.status ==="Available"){
		$("#deviceCount").text(count+1);
	}else{
		$("#deviceCount").text(count-1);
	}
    td.html(icon +" "+ data.status);
  });
  socket.on('disconnect', function(){});
});
</script>